<div class="footer-main">
    <div class="footer-logo" [routerLink]="'/hotelsmain'">
        <div class="aside-title">
            <img [src]="logo">
            <h1>Travel More</h1>
        </div>
    </div>
    <div class="footer-center">
        <div class="links">
            <a href="https://www.facebook.com/giorgi.mindiashvili" target="_blank"><img [src]="fb"></a>
            <a href="https://www.instagram.com/gmindiashvilii/" target="_blank"><img [src]="ig"></a>
            <a href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/" target="_blank"><img [src]="linkedin"></a>
        </div>
        <div class="copyright">
            <p>Copyright &#169; 2023.All Rights Reserved.</p>
        </div>
    </div>
    <div class="footer-right">
        <div class="contact">
            <div class="phone">
                <img [src]="phone">
                <p>+995598006658</p>
            </div>
            <div class="gmail">
                <img [src]="gmail">
                <p>mindiashvilife@gmail.com</p>
            </div>
        </div>
    </div>
</div>
