<div class="login-main">

    <div class="icon-logo">
        <div class="aside-title">
            <img [src]="logo">
            <h1>Travel More</h1>
        </div>
    </div>
    <div class="container-main">
        <div class="container-title">
            <h3 id="si" (click)="signInLink()" style="color: '#71cdff'">Sign In
                <span id="light"></span>
            </h3>
            <h3 id="su" (click)="signUpLink()">Sign Up</h3>
        </div>
        <div class="container">
            <!-- sign-in -->
            <div class="sign-in" *ngIf="signIn">
                <div class="sign-in-title">
                    <h2>Sign in to Website</h2>
                </div>
                <div class="sign-in-socials">
                    <img [src]="loginFbIcon">
                    <img [src]="loginTwitterIcon">
                    <img [src]="loginIgIcon">
                    <img [src]="loginInIcon">
                </div>
                <div class="form-div">
                    <app-fixlogin></app-fixlogin>
                </div>
            </div>
            <!-- hello-frinend-sign-up  -->
            <div class="hello-friend" *ngIf="helloFriend">
                <div class="hello-friend-title">
                    <h1>Hello Friend !</h1>
                </div>
                <div class="hello-friend-info">
                    <p>Enter your personal details and start<br>
                        journey with us
                    </p>
                </div>
                <div class="hello-friend-btn">
                    <button (click)="signUpBtn()">Sign Up</button>
                </div>
            </div>
            <!-- sign up  -->
            <div class="sign-up" *ngIf="signUp">
                <div class="sign-up-title">
                    <h1>Create Account</h1>
                </div>
                
                <div class="sign-up-form">
                    <app-fixregister></app-fixregister>
                </div>

                
            </div>
            <!-- welcome back -->
            <div class="welcome-back" *ngIf="welcome">
                <div class="welcome-back-title">
                    <h1>Welcome Back !</h1>
                </div>
                <div class="welcome-back-info">
                    <p>To keep connected with us please login<br>
                        with your personal info
                    </p>
                </div>
                <div class="welcome-back-btn">
                    <button (click)="signInBtn()">Sign In</button>
                </div>
            </div>
        </div>
    </div>

    <div class="join-for-guest">
        <div class="join-container">
            <div class="jc-title">
                <h3>Join As Guest</h3>
            </div>
            <div class="jc-about">
                <p>
                    If you only want to join for booking
                    hotels just tap the button
                </p>
            </div>
            <div class="jc-button">
                <button [routerLink]="'/hotelsmain'">
                    Join As Guest
                </button>
            </div>
        </div>
    </div>

    <!-- <div class="box" [class.oxba]="check"></div>
    <button (click)="wow()">Swith Color</button>
    -->
</div>
<app-footer></app-footer>
