<app-header></app-header>
<div class="about-page-main">
  <p>This website is for people who love to travel and always
    need easy ways to book a hotel. You can also add your hotels to your page and get the admin
    pannel only by registering on our website. To activate your user just log in with your account.
    You also get a search bar to search hotels by name, stars or location. When you click on the information about the hotel you will go to the web page of a specific hotel where you can get all the information about the hotel, it's photos and of course you will find out the prices.
    On the booking page you can actually book the hotel.
  </p>
  <p>
    This website is completely created by me. I used Angular/Firebase.
    I'm also connected with Back-End and this guarantees you that your hotel will be
    officially available on our website.
  </p>
</div>
<app-footer></app-footer>