<app-header></app-header>
<div class="hotels-main-page">
    <div class="sort"  [class.header_change]="header_variable">
        <div class="sort-locations">
            <img [src]="locationIcon">
            <select name="locations">
                <option value="kartli">Kartli</option>
                <option value="kakheti">Kakheti</option>
                <option value="imereti">Imereti</option>
                <option value="guria">Guria</option>
                <option value="samegrelo">Samegrelo</option>
                <option value="ratcha">Ratcha</option>
                <option value="atchara">Atchara</option>
                <option value="mtianeti">Mtianeti</option>
                <option value="apkhazeti">Apkhazeti</option>
                <option value="meskheti">Meskheti</option>
                <option value="svaneti">Svaneti</option>
                
            </select>
        </div>
        <div class="sort-search">
            <img [src]="searchIcon">
            <input type="search" placeholder="Search by name">
        </div>
        <div class="star-search">
            <p>Search by stars :</p>
            <img [src]="starIcon">
            <select name="stars">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>
    </div>
    <div class="hotels-containers-main" [class.hotels_change]="hotels_variable">

        <div class="container">
            <div class="hotel-img">
                <img [src]="hotelImg">
            </div>
            <div class="container-info">
                <div class="title">
                    <h2>Stamba Hotel</h2>
                </div>
                <div class="hotel-location">
                    <img [src]="locationIcon">
                    <p>Tbilisi,Georgia</p>
                </div>
                <div class="hotel-stars">
                    <div class="stars">
                        <img [src]="starIcon">
                        <p>5</p>
                    </div>
                    <div class="next-page" [routerLink]="'/hotelpage'">
                        <p>Total information</p>
                        <img [src]="nextPage">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="hotel-img">
                <img [src]="hotelImg">
            </div>
            <div class="container-info">
                <div class="title">
                    <h2>Stamba Hotel</h2>
                </div>
                <div class="hotel-location">
                    <img [src]="locationIcon">
                    <p>Tbilisi,Georgia</p>
                </div>
                <div class="hotel-stars">
                    <div class="stars">
                        <img [src]="starIcon">
                        <p>5</p>
                    </div>
                    <div class="next-page"  [routerLink]="'/hotelpage'">
                        <p>Total information</p>
                        <img [src]="nextPage">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="decoration-gm">
        <p>Giorgi Mindiashvili</p>
    </div>
    <div id="scrollBox" class="progress" [class.progress_change]="progress_variable">
        <span class="progress-value" (click)="scrollProgress()">
            <img [src]="upArrow">
        </span>
    </div>
</div>
<app-footer></app-footer>
