<app-header></app-header>
<div class="offer-main">
  <div class="summer-offer">
    <div class="sale-decore">
      <p>20%</p>
      <img [src]="saleIcon">
    </div>
    <div class="summer-offer-title">
      <h3>Summer Offer</h3>
    </div>
    <div class="summer-offer-about">
      <div class="summer-offer-about-left">
        <p>Start date: 01/07/2023</p>
      </div>
      <div class="summer-offer-about-right">
        <p>End date: 01/08/2023</p>
      </div>
    </div>
    <div class="summer-offer-list">
      <p>Standard room <span>100Gel</span> 80Gel per day</p>
      <p>Superior room <span>150Gel</span> 120Gel per day</p>
      <p>Family room <span>200Gel</span> 160Gel per day</p>
      <p>Premium room <span>250Gel</span> 200Gel per day</p>
    </div>
  </div>
  <div class="winter-offer">
    <div class="sale-decore">
      <p>30%</p>
      <img [src]="saleIcon">
    </div>
    <div class="winter-offer-title">
      <h3>Winter Offer</h3>
    </div>
    <div class="winter-offer-about">
      <div class="winter-offer-about-left">
        <p>Start date: 01/12/2023</p>
      </div>
      <div class="winter-offer-about-right">
        <p>End date: 01/12/2023</p>
      </div>
    </div>
    <div class="summer-offer-list">
      <p>Standard room <span>100Gel</span> 70Gel per day</p>
      <p>Superior room <span>150Gel</span> 105Gel per day</p>
      <p>Family room <span>200Gel</span> 140Gel per day</p>
      <p>Premium room <span>250Gel</span> 175Gel per day</p>
    </div>
  </div>
</div>
<app-footer></app-footer>