<app-header></app-header>
<div class="hotel-page-main">
  <div class="hotel-title">
    <h1>Stamba Hotel</h1>
    <img [src]="starsImg">
    <img [src]="starsImg">
    <img [src]="starsImg">
    <img [src]="starsImg">
    <img [src]="starsImg">
  </div>
  <div class="rooms-nav">
    <ul>
      <li (click)="bShow()"><a [class.active]="activeLinkBedroom">Bedroom</a></li>
      <li (click)="livingRoomShow()"><a [class.active]="activeLinkLivingRoom">Living Room</a></li>
      <li (click)="bathroomShow()"><a [class.active]="activeLinkBathroom">Bathroom</a></li>
      <li (click)="kitchenShow()"><a [class.active]="activeLinkKitchen">Kitchen</a></li>
      <li (click)="foodShow()"><a [class.active]="activeLinkFood">Food</a></li>
    </ul>
  </div>
  <div class="hotel-rooms-main">
    <!-- bedrooms  -->
    <div class="hotel-rooms" *ngIf="bhide">
      <app-carousel [images]="bedrooms"></app-carousel>
    </div>
    <!-- living rooms  -->
    <div class="hotel-rooms"  *ngIf="lhide">
      <app-carousel [images]="livingRooms"></app-carousel>
    </div>
    <!-- bathroom  -->
    <div class="hotel-rooms"  *ngIf="bathhide">
      <app-carousel [images]="bathrooms"></app-carousel>
    </div>
    <!-- kitchens  -->
    <div class="hotel-rooms"  *ngIf="kithide">
      <app-carousel [images]="kitchens"></app-carousel>
    </div>
    <!-- food  -->
    <div class="hotel-rooms" *ngIf="foodhide">
      <app-carousel [images]="food"></app-carousel>
    </div>
  </div>
  <div class="hotel-information">
    <div class="hotel-about">
      <p>Set in the former publishing house of Tbilisi, Stamba Hotel – lauded as a flawless fusion of vintage and contemporary, is a living, breathing reflection of the city’s growing global<br>
         significance.
        Featuring uniquely designed and generously sized guestrooms, the hotel allures visitors at once. Yet there’s more to it: cloud-like beds, personal McIntosh brand hi-fi systems, La Marzocco coffee machines, gilded free-standing brass bathtubs and showers, minibars, and flat-screen TVs. The bathrooms come with slippers and hairdryers.
        The sights vary as the large windows of each room overlook the different parts of the hotel’s premises, counting the five-story-high atrium and several gardens.
        On the ground floor, there is Café Stamba - enchanting visitors with quintessential sentiments and style of the previous century and offering a great gastronomic experience: gourmet cuisine prepared with fresh and locally sourced products, signature cocktails crafted and served at the American-aesthetic pink bar, and the outstanding Stamba Chocolaterie – with its artisan chocolate and coffee.
        <br>
        <br>
        Additionally, the hotel provides room service and breakfast in the room upon request.
        Many of Georgia’s historical and cultural sites, including the Georgian National Museum, the Opera & Ballet Theatre, and the Parliament, are within walking distance.
        <br>
        <br>
        This is our guests' favourite part of Tbilisi City, according to independent reviews.
        <br>
        Couples particularly like the location — they rated it 9.5 for a two-person trip.
      </p>
    </div>
    <div class="facilities-title">
      <h3>Most popular facilities</h3>
    </div>
    <div class="hotel-facilities">
      <div class="facilities">
        <img [src]="noSmoking">
        <p>Non-smoking rooms</p>
      </div>
      <div class="facilities">
        <img [src]="airport">
        <p>Airport shuttle</p>
      </div>
      <div class="facilities">
        <img [src]="disabledGuest">
        <p>Facilities for disabled guests</p>
      </div>
      <div class="facilities">
        <img [src]="wifi">
        <p>Free WiFi</p>
      </div>
      <div class="facilities">
        <img [src]="parking">
        <p>Free parking</p>
      </div>
      <div class="facilities">
        <img [src]="roomService">
        <p>Room service</p>
      </div>
      <div class="facilities">
        <img [src]="restaurant">
        <p>Restaurant</p>
      </div>
      <div class="facilities">
        <img [src]="heating">
        <p>Heating</p>
      </div>
      <div class="facilities">
        <img [src]="bar">
        <p>Bar</p>
      </div>
      
    </div>
  </div>
  <div class="availability">
    <div class="availability-title">
      <h3>Availability</h3>
    </div>
    <div class="availability-checkin">
      <div class="check-in">
        <p>Check-in:</p>
        <input type="date" class="check-in" #checkInDate>
      </div>
      <div class="check-out">
        <p>Check-out:</p>
        <input type="date" class="check-out" #checkOutDate>
      </div>
    </div>
    <div class="availability-rooms">
      <div class="room-type">
        <p>Room type</p>
      </div>
      <div class="sleeps">
        <p>Sleeps</p>
      </div>
      <div class="empty"></div>
      <!-- room-1  -->
      <div class="rooms">
        <p>Standard Room</p>
        <small>
          1 extra-large double bed
          <img [src]="bedIcon">
        </small>
      </div>
      <div class="person">
        <img [src]="personIcon">
        <img [src]="personIcon">
        <p>+</p>
        <img [src]="personIcon">
      </div>
      <div class="show-price-btn">
        <button (click)="showPriceStardardRoom()">Show prices</button>
      </div>
      <!-- room-2  -->
      <div class="rooms">
        <p>Superior Room</p>
        <small>
          1 extra-large double bed
          <img [src]="bedIcon">
        </small>
      </div>
      <div class="person">
        <img [src]="personIcon">
        <img [src]="personIcon">
        <p>+</p>
        <img [src]="personIcon">
      </div>
      <div class="show-price-btn">
        <button (click)="showPriceSuperiorRoom()">Show prices</button>
      </div>
      <!-- room-3  -->
      <div class="rooms">
        <p>Family Room</p>
        <small>
          2 extra-large double bed
          <img [src]="bedIcon">
        </small>
      </div>
      <div class="person">
        <img [src]="personIcon">
        <img [src]="personIcon">
        <img [src]="personIcon">
        <p>+</p>
        <img [src]="personIcon">
        <img [src]="personIcon">
      </div>
      <div class="show-price-btn">
        <button (click)="showFamilyRoom()">Show prices</button>
      </div>
      <!-- room-4  -->
      <div class="rooms">
        <p>Premium Room</p>
        <small>
          2 extra-large double bed
          <img [src]="bedIcon">
        </small>
      </div>
      <div class="person">
        <img [src]="personIcon">
        <img [src]="personIcon">
        <img [src]="personIcon">
        <p>+</p>
        <img [src]="personIcon">
        <img [src]="personIcon">

      </div>
      <div class="show-price-btn">
        <button (click)="showPremiumRoom()">Show prices</button>
      </div>
    </div>
  </div>
  <div class="hotel-reservation" *ngIf="totalAmount">
    <div class="reservation-container">
      <div class="container-title">
        <h3>Total Amount</h3>
      </div>
      <div class="container-price">
        <div class="price-title">
          <h3 [innerHTML]="showRoomStyle"></h3>
          <h4 [innerHTML]="Days"></h4>
        </div>
        <div class="check-in-check-out">
          <div class="check-in-box">
            <p>Check-in : <span [innerHTML]="showCheckInTime"></span></p>
          </div>
          <div class="check-out-box">
            <p>Check-out : <span [innerHTML]="showCheckOutTime"></span></p>
          </div>
        </div>
        <div class="total-price">
          <p [innerHTML]="showTotalPrice"></p>
        </div>
        <div class="pay-btn">
          <button>Pay with Card</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>