* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alkatra,Montserrat,Arial, Helvetica, sans-serif;
}
body {
    background: #E5E5E5;
}
html {
    scroll-behavior: smooth;
}